html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ol li,
ul li  {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

html {
line-height: 1;
}

ol, ul {
list-style: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

caption, th, td {
text-align: left;
font-weight: normal;
vertical-align: middle;
}

q, blockquote {
quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
content: "";
content: none;
}

a img {
border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
display: block;
}

img {
vertical-align: bottom;
border: none;
}

button,
input,
select,
textarea {
vertical-align: middle;
}

input {
outline: 0;
}

button,
input {
*overflow: visible;
line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
padding: 0;
border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
-webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
cursor: pointer;
}

textarea {
overflow: auto;
vertical-align: top;
font-family: sans-serif;
}


//break point
RES_WID_EXTRA_SMALL01 = 576px
RES_WID_SMALL01 = 768px
RES_WID_MEDIUM01 = 1000px
RES_WID_LARGE01 = 1180px
RES_WID_LARGE02 = 1200px
RES_WID_EXTRA_LARGE01 = 1400px

$CONTENTS_WID_SMALL01 = 1000px
$CONTENTS_WID_MEDIUM01 = 1020px
$CONTENTS_WID_LARGE01 = 1240px
$HEADER_H = 70px

//font
DF_FONT = 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif
DF_FONT_MIN = "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" ,"Hiragino Mincho Pro" , "ヒラギノ明朝 Pro W3" , "HiraMinProN-W3" ,  "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;

DF_FONT_EN = "Arial", sans-serif;

//color
DF_BG_COLOR = #fff //背景色
DF_TEXT_COLOR = #333 //テキスト色

DF_SELECT_BG_COLOR = #F00 //選択時 背景色
DF_SELECT_TEXT_COLOR = #FFF //選択時 テキスト色
DF_URL_TEXT_COLOR = #337FC5 //選択時 テキスト色

SITE_COLOR01 = #007ED7
SITE_COLOR02 = #00B3D7
SITE_COLOR03 = #0044D7

SITE_BG01 = #FFF
SITE_BG02 = #FAFAFA
SITE_BG03 = #F5FBFF
SITE_BG04 = #333



// /* mixin & Variable */

MQ_MAX(maxWidth){
	@media screen and (max-width: maxWidth) {
		{block}
	}

}

MQ_MIN(minWidth){
	@media screen and (min-width: minWidth) {
		{block}
	}

}

MQ_MIN_MAX(minWidth,maxWidth){
	@media screen and (min-width:minWidth) and (max-width:maxWidth) {
		{block}
	}
}

CF()
	+cache('clearfix')
		&::after
			content: "";
			display: block;
			clear: both;

fontSet()
	font-family: DF_FONT;
	fontSize(15);
	line-height: 1.6;
	-webkit-text-size-adjust: 100%;

	+MQ_MAX(RES_WID_SMALL01)
		fontSize(13);

fontSize(size) {
	font-size: (size) px;
	font-size: (size / 10) rem;
}

vwsp(size)
	rate = 100 / 320;
	return rate * size * 1vw

vwpc(size)
	rate = 100 / 1400;
	return rate * size * 1vw

fontSp(font_size)
	font-size: font_size * 1px;
	font-size: vwsp(font_size);

fontPc(font_size)
	font-size: font_size * 1px;
	font-size: vwpc(font_size);

vwFontSet(font_size)
	+MQ_MAX(PC_RES_WID01)
		fontPc(font_size)
	+MQ_MIN(PC_RES_WID01)
		fontSize(font_size)

pSet(px)
	return px / 1000 * 100 * 1%

fontLato()
	font-family: 'Lato', sans-serif;


/* ベース
---------------------------------- */

html
	height 100%
	font-size 62.5%
	scroll-padding-top var(--header-height, $HEADER_H)

[id]
	scroll-margin-top var(--header-height, $HEADER_H)

body
	-webkit-text-size-adjust 100%
	min-height 100%
	height 100%
	+MQ_MAX(RES_WID_SMALL01)
		min-width 0px

	background-color DF_BG_COLOR
	color DF_TEXT_COLOR

	fontSet()

	input[type="text"], input[type="button"], button, textarea
		margin 0
		padding 0
		background none
		border none
		border-radius 0
		outline none
		-webkit-appearance none
		-moz-appearance none
		appearance none
		resize none

	input[type="text"], select, textarea
		width 100%

	input[type="radio"], input[type="checkbox"]
		margin 0

	input, select, textarea, button
		fontSet()

	::selection
		background-color SITE_COLOR01
		color #ffffff

	+MQ_MAX(RES_WID_SMALL01)
		width 100%
		min-width 0

a
	color inherit
	text-decoration none !important
	&:link, &:visited
		color #005bac
		text-decoration underline
	&:active
		text-decoration none
	&:hover
		text-decoration none
	&:focus
		outline none

.is-pcOnly
	+MQ_MAX(RES_WID_SMALL01)
		display none
.is-spOnly
	display none
	+MQ_MAX(RES_WID_SMALL01)
		display block


// custom css

// ------------------------- layout -------------------------

$contentsWidth = vwpc(1180) + vwpc(100)

.l-contentsBody
	// min-width $CONTENTS_WID_LARGE01
	width 100%
	padding-top var(--header-height, $HEADER_H)

.l-contentsWidth
	margin 0 auto
	max-width $contentsWidth
	padding 0 vwpc(50)
	box-sizing border-box
	width 100%
	&.is-narrow
		max-width $CONTENTS_WID_SMALL01

.l-mqWrapper
	padding 0 vwpc(20)
	box-sizing border-box

.l-globalHeader
	position fixed
	top 0
	left 0
	width 100%
	z-index 100

#l-contentsTop
	width 100%
	max-width 100vw
	box-sizing border-box
	overflow-x hidden

// ------------------------- module -------------------------


.m-subTitle01
	display flex
	align-items center
	gap vwpc(13)
	fontPc(14)
	font-weight 600
	line-height 1.5
	letter-spacing 0.04em
	&:before
		content ''
		display inline-block
		width vwpc(60)
		height vwpc(3)
		background-color SITE_COLOR01
	span
		fontPc(18)
		font-weight 700
		line-height 1.8
		letter-spacing 0.04em
	&.is-white
		color #fff
		&:before
			background-color #fff

.m-sectionTitle01
	span
		fontPc(28)
		font-weight 700
		line-height 1.5
		letter-spacing 0.04em
	&.is-white
		span
			color #fff



.m-btn01
	&.is-white
		.moduleWrapper
			background-color #fff
			border-color #fff
			span
				color SITE_COLOR01
			&:after
				background-image url('../images/common/common_arrow01_blue.png')
			&:hover
				background-color SITE_COLOR01
				color #fff
				span
					color #fff
				&:after
					background-image url('../images/common/common_arrow01_white.png')
	.moduleWrapper
		display block
		position relative
		padding vwpc(14) vwpc(44) vwpc(14) vwpc(14)
		min-width vwpc(160)
		width 100%
		background-color SITE_COLOR01
		border vwpc(1) solid SITE_COLOR01
		box-sizing border-box
		border-radius vwpc(8)
		transition background-color .3s, color .3s
		&:hover
			background-color #fff
			color SITE_COLOR01
			span
				color SITE_COLOR01
			&:after
				background-image url('../images/common/common_arrow01_blue.png')
		&:after
			content ''
			display inline-block
			position absolute
			top 0
			right vwpc(20)
			bottom 0
			margin auto 0
			width vwpc(14)
			height vwpc(12)
			background-image url('../images/common/common_arrow01_white.png')
			background-size contain
			background-repeat no-repeat
			background-position center
			transition background-image .3s
		span
			color #fff
			fontPc(16)
			font-weight 700
			line-height 1.5
			letter-spacing 0.04em
			transition color .3s



.m-btn02
	.moduleWrapper
		display flex
		align-items center
		gap vwpc(20)
		position relative
		padding vwpc(14) vwpc(20)
		min-width vwpc(160)
		width 100%
		background-color #fff
		border vwpc(1) solid DF_TEXT_COLOR
		box-sizing border-box
		border-radius vwpc(8)
		transition background-color .3s, color .3s
		&:hover
			background-color DF_TEXT_COLOR
			&:after
				background-image url('../images/common/common_arrow01_white.png')
			span
				color #fff
		&:after
			content ''
			display inline-block
			width vwpc(14)
			height vwpc(12)
			background-image url('../images/common/common_arrow01_black.png')
			background-size contain
			background-repeat no-repeat
			background-position center
			transition background-image .3s
		span
			color DF_TEXT_COLOR
			fontPc(16)
			font-weight 700
			line-height 1.5
			letter-spacing 0.04em
			transition color .3s





.m-contactBtn01
	&.is-white
		.moduleWrapper
			background-color #fff
			&:after
				background-image url('../images/common/common_arrow01_blue.png')
			.moduleInner
				span
					color SITE_COLOR01
			&:hover
				background-color SITE_COLOR01
				color #fff
				&:after
					background-image url('../images/common/common_arrow01_white.png')
				.moduleInner
					span
						color #fff

	.moduleWrapper
		display flex
		align-items center
		justify-content center
		position relative
		min-height vwpc(40)
		padding vwpc(10) vwpc(46) vwpc(10) vwpc(16)
		border-radius vwpc(100)
		background-color SITE_COLOR01
		text-decoration none
		border vwpc(1) solid SITE_COLOR01
		box-sizing border-box
		transition background-color .3s, color .3s
		&:after
			content ''
			display inline-block
			position absolute
			top 0
			right vwpc(16)
			bottom 0
			margin auto 0
			width vwpc(14)
			height vwpc(12)
			background-image url('../images/common/common_arrow01_white.png')
			background-size contain
			background-repeat no-repeat
			transition background-image .3s
		&:hover
			background-color #fff
			.moduleInner
				span
					color SITE_COLOR01
			&:after
				background-image url('../images/common/common_arrow01_blue.png')
		.moduleInner
			display inline-block
			span
				display inline-block
				color #fff
				fontPc(14)
				font-weight bold
				line-height 1.5
				letter-spacing 0.04em


// ------------------------- component -------------------------

.c-header01
	background-color SITE_BG01

	.group
		&.is-contents
			display flex
			align-items center
			justify-content space-between
			gap vwpc(20)
			margin 0 auto
			padding 0 vwpc(20)
			box-sizing border-box

	.block
		&.is-logo
			flex-shrink 0

			.logo
				width vwpc(260)

				.link
					display block
					transition opacity .3s

					&:hover
						opacity 0.7

				.img
					display block
					width 100%
					height auto

		&.is-nav
			display flex
			flex 1
			justify-content flex-end

			.area
				&.is-nav
					position relative

					.box
						&.is-nav
							display flex
							align-items stretch

							> .item
								&.is-link
									position relative

									> .label,
									> .link
										display flex
										align-items center
										justify-content center
										height vwpc(70)
										padding 0 vwpc(20)
										color DF_TEXT_COLOR
										fontPc(12)
										font-weight bold
										white-space nowrap
										transition background-color .2s, color .2s

									> .link
										&:link, &:visited
											color DF_TEXT_COLOR

									&:hover,
									&.is-current,
									&.is-open
										background-color SITE_COLOR01

										> .label,
										> .link
											color #fff

										> .link
											&:link, &:visited
												color #fff
												text-decoration none

						&.is-mega
							visibility hidden
							opacity 0
							pointer-events none
							position fixed
							top var(--header-height, $HEADER_H)
							left 0
							right 0
							width 100%
							background-color #fff
							border-bottom vwpc(1) solid #D9D9D9
							box-sizing border-box
							transition opacity .2s, visibility .2s

							&.is-open
								visibility visible
								opacity 1
								pointer-events auto

							.l-contentsWidth
								display flex
								justify-content center
								align-items center
								gap vwpc(40)
								padding vwpc(10) vwpc(50)

							.item
								&.is-head
									display flex
									align-items center
									min-width vwpc(88)
									height vwpc(60)
									border-right vwpc(1) solid SITE_COLOR01
									box-sizing border-box

									.title
										fontPc(20)
										font-weight bold
										line-height 1

										.link
											color SITE_COLOR01
											text-decoration none
											transition opacity .3s

											&:link, &:visited
												color SITE_COLOR01

											&:hover
												opacity 0.7

								&.is-body

									.list
										display flex
										flex-wrap wrap
										align-items center
										gap vwpc(40)

										.link
											display inline-block
											color DF_TEXT_COLOR
											fontPc(12)
											font-weight bold
											line-height 2
											transition color .2s

											&:link, &:visited
												color DF_TEXT_COLOR

											&:hover
												color SITE_COLOR01

		&.is-contact
			flex-shrink 0

			.box
				&.is-contact
					display flex
					align-items center
					gap vwpc(8)


.c-topMainvisualSet01
	box-sizing border-box
	overflow hidden
	.componentWrapper
		position relative
		.group
			&.is-image
				.image
					img
						width 100%
						height auto
			&.is-contents
				display flex
				flex-direction column
				gap vwpc(7)
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				width 100%
				.block
					&.is-title
						.title
							color #fff
							fontPc(64)
							font-family DF_FONT_MIN
							font-weight 600
							line-height 1.5
							text-shadow 0 0 vwpc(20) rgba(43, 43, 43, 0.28)
					&.is-text
						.text
							color #fff
							fontPc(16)
							font-weight bold
							line-height 1.8
							text-shadow 0 0 vwpc(20) rgba(43, 43, 43, 0.28)
			&.is-link
				display flex
				flex-direction column
				align-items flex-end
				gap vwpc(20)
				max-width vwpc(280)
				width 100%
				position absolute
				right 0
				bottom vwpc(60)
				.block
					&.is-link
						max-width vwpc(240)
						width 100%
						&.is-type01
							max-width vwpc(280)
							.area
								&.is-inner
									border-color SITE_COLOR01
									background-color SITE_COLOR01
									&:hover
										span
											color SITE_COLOR01
						&.is-type02
							.area
								&.is-inner
									border-color SITE_COLOR02
									background-color SITE_COLOR02
									&:hover
										span
											color SITE_COLOR02
						&.is-type03
							.area
								&.is-inner
									border-color SITE_COLOR03
									background-color SITE_COLOR03
									&:hover
										span
											color SITE_COLOR03
						.area
							&.is-inner
								display flex
								flex-direction column
								align-items center
								justify-content center
								gap vwpc(3)
								padding vwpc(14) vwpc(20)
								width 100%
								border-style solid
								border-width vwpc(1) 0 vwpc(1) vwpc(1)
								box-sizing border-box
								border-radius vwpc(100) 0 0 vwpc(100)
								transition background-color .3s
								&:hover
									background-color #fff !important
								span
									color #fff
									line-height 1.5
									letter-spacing 0.04em
									transition color .3s
									&.large
										fontPc(20)
										font-weight 600
									&.small
										fontPc(12)
										font-weight 300

.c-topBusinessSet01
	padding vwpc(80) 0
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(40)
		.group
			&.is-title
				display flex
				flex-direction column
				gap vwpc(14)
			&.is-contents
				display grid
				grid-template-columns repeat(3, 1fr)
				gap vwpc(20)
				.block
					&.is-list
						display grid
						grid-template-rows subgrid
						grid-row span 4
						padding vwpc(18) 0 vwpc(31)
						width 100%
						border vwpc(2) solid
						box-sizing border-box
						.area
							&.is-title
								display flex
								align-items center
								justify-content center
								.title
									fontPc(24)
									font-weight 700
									line-height 1.5
									letter-spacing 0.04em
									text-align center
							&.is-text
								display flex
								align-items center
								justify-content center
								.text
									fontPc(13)
									font-weight 700
									line-height 1.5
									letter-spacing 0.04em
									text-align center
							&.is-link
								display flex
								flex-direction column
								.box
									&.is-link
										width 100%
										border-bottom vwpc(1) solid #eee
										.inner
											display block
											position relative
											padding vwpc(14) vwpc(40) vwpc(14) vwpc(16)
											transition opacity .3s
											&:hover
												opacity 0.7
											&:after
												content ''
												display inline-block
												width vwpc(16)
												height vwpc(16)
												background-image url('../images/common/common_arrow02.png')
												background-repeat no-repeat
												background-size contain
												background-position center
												position absolute
												top 0
												right vwpc(16)
												bottom 0
												margin auto 0
											span
												color DF_TEXT_COLOR
												fontPc(16)
												line-height 1.5
												letter-spacing 0.04em
							&.is-btn
								display flex
								align-items center
								justify-content center
								.btn
									max-width vwpc(320)
									width 100%
									.inner
										display flex
										align-items center
										justify-content center
										gap vwpc(20)
										padding vwpc(14) vwpc(20)
										border vwpc(1) solid
										border-radius vwpc(8)
										box-sizing border-box
										transition background-color .3s, color .3s
										span
											color #fff
											line-height 1.5
											letter-spacing 0.04em
											transition color .3s
											&.large
												fontPc(16)
												font-weight 700
											&.small
												fontPc(12)

										&:hover
											background-color #fff !important
						&.is-type01
							border-color SITE_COLOR01
							.area
								&.is-title
									.title
										color SITE_COLOR01
								&.is-btn
									.btn
										.inner
											background-color SITE_COLOR01
											border-color SITE_COLOR01
											&:hover
												span
													color SITE_COLOR01
						&.is-type02
							border-color SITE_COLOR02
							.area
								&.is-title
									.title
										color SITE_COLOR02
								&.is-btn
									.btn
										.inner
											background-color SITE_COLOR02
											border-color SITE_COLOR02
											&:hover
												span
													color SITE_COLOR02
						&.is-type03
							border-color SITE_COLOR03
							.area
								&.is-title
									.title
										color SITE_COLOR03
								&.is-btn
									.btn
										.inner
											background-color SITE_COLOR03
											border-color SITE_COLOR03
											&:hover
												span
													color SITE_COLOR03


.c-topVisionSet01
	padding vwpc(80) 0
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		gap vwpc(30)
		.group
			&.is-contents
				flex 1
				display flex
				flex-direction column
				gap vwpc(40)
				width vwpc(642)
				.block
					&.is-title
						display flex
						flex-direction column
						gap vwpc(40)
						.title
							span
								color SITE_COLOR01
								fontPc(48)
								font-family DF_FONT_MIN
								font-weight 600
								line-height 1.5
								letter-spacing 0.04em
					&.is-text
						display flex
						flex-direction column
						gap vwpc(36)
						.text
							fontPc(20)
							line-height 1.8
							letter-spacing 0.04em
					&.is-btn
						display flex
			&.is-image
				width vwpc(498)
				flex-shrink 0
				.block
					&.is-image
						width 100%
						.image
							width 100%
							img
								width 100%
								height auto
								vertical-align bottom

.c-topAchievementsSet01
	padding vwpc(80) 0
	background-color SITE_COLOR01
	background-image url('../images/contents/top/top_achievements_bg01.png')
	background-size cover
	background-position top left
	background-repeat no-repeat
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(40)
		.group
			&.is-title
				display flex
				flex-direction column
				gap vwpc(10)
			&.is-contents
				display grid
				grid-template-columns repeat(4, 1fr)
				gap vwpc(4)
				.block
					&.is-list
						display flex
						flex-direction column
						width 100%
						.area
							&.is-link
								display flex
								flex-direction column
								align-items center
								justify-content center
								gap vwpc(20)
								flex 1
								padding vwpc(30) vwpc(20)
								box-sizing border-box
								.note
									color #fff
									fontPc(11)
									line-height 1.5
									text-align center
							&.is-contents
								display flex
								flex-direction column
								align-items center
								justify-content center
								flex 1
								gap vwpc(20)
								padding vwpc(30) vwpc(20)
								background-color #fff
								box-sizing border-box
								.box
									&.is-icon
										width 100%
										.icon
											width 100%
											img
												width 100%
												height auto
												vertical-align bottom
									&.is-achievements
										display flex
										justify-content center
										.achievements
											display flex
											align-items flex-end
											gap vwpc(4)
											.number
												color SITE_COLOR01
												fontPc(64)
												font-family DF_FONT_EN
												font-weight 700
												line-height vwpc(54)
											.unit
												fontPc(22)
												font-weight 700
												line-height 1.5
												letter-spacing -0.0162em
									&.is-text
										display flex
										flex-direction column
										gap vwpc(10)
										.title
											fontPc(14)
											font-weight 700
											line-height 1.3
											text-align center
										.text
											fontPc(11)
											line-height 1.5


.c-topCompanySet01
	padding vwpc(80) 0
	background-color SITE_BG02
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(40)
		.group
			&.is-title
				display flex
				flex-direction column
				gap vwpc(14)
			&.is-contents
				display flex
				flex-direction column
				gap vwpc(40)
				.block
					&.is-list
						display grid
						grid-template-columns repeat(5, 1fr)
						gap vwpc(40) vwpc(20)
						.area
							&.is-contents
								display flex
								align-items center
								justify-content space-between
								padding vwpc(20) vwpc(10)
								background-color #fff
								.box
									&.is-contents
										display flex
										flex-direction column
										gap vwpc(9)
										.item
											&.is-title
												.title
													display flex
													flex-direction column
													span
														&.large
															color SITE_COLOR01
															fontPc(40)
															font-family DF_FONT_EN
															font-weight 700
															line-height 1.5
															letter-spacing 0.04em
														&.middle
															fontPc(20)
															font-weight 700
															line-height 1.5
															letter-spacing 0.04em
											&.is-text
												.text
													fontPc(14)
													line-height 1.6
								&.is-large
									grid-column 1 / -1
									align-items flex-start
									padding vwpc(20)
									.box
										&.is-contents
											width vwpc(533)
											.item
												&.is-title
													.title
														flex-direction row
														align-items center
														gap vwpc(10)
														span
															font-weight 700
															&.large
																fontPc(64)
															&.middle
																color SITE_COLOR01
																fontPc(32)
															&.small
																fontPc(15)
												&.is-text
													.text
														fontPc(15)
														line-height 1.8
										&.is-image
											width vwpc(522)
											.image
												width 100%
												img
													width 100%
													height auto
													vertical-align bottom
					&.is-btn
						display flex
						justify-content center

.c-topLinkSet01
	padding vwpc(40) 0
	background-color SITE_BG02
	overflow hidden
	box-sizing border-box
	.componentWrapper
		.group
			&.is-contents
				display grid
				grid-template-columns repeat(3, 1fr)
				gap vwpc(20)
				.block
					&.is-btn
						.m-btn02
							width 100%


.c-topNetworkSet01
	padding vwpc(80) 0
	background-image url('../images/contents/top/top_network_bg01.png')
	background-size cover
	background-position top right
	background-repeat no-repeat
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(50)
		.group
			&.is-title
				display flex
				flex-direction column
				gap vwpc(14)
				.text
					padding-top vwpc(15)
			&.is-contents
				display flex
				align-items flex-start
				gap vwpc(30)
				padding vwpc(40) vwpc(20)
				box-sizing border-box
				.block
					&.is-contents
						display flex
						flex-direction column
						gap vwpc(30)
						padding vwpc(20) vwpc(12) vwpc(20) vwpc(0)
						border-right 2px solid SITE_COLOR01
						box-sizing border-box
						.area
							&.is-title
								.title
									display flex
									flex-direction column
									gap vwpc(20)
									span
										font-weight 700
										&.small
											fontPc(20)
											line-height 1.5
											&.blue
												color SITE_COLOR01
										&.large
											color SITE_COLOR01
											fontPc(128)
											line-height 0.8
											font-family DF_FONT_EN
											letter-spacing: 0.04em
							&.is-text
								.text
									fontPc(15)
									line-height 1.8

					&.is-image
						width vwpc(852)
						.image
							width 100%
							img
								width 100%

.c-topNewsSet01
	padding vwpc(80) 0
	background-color SITE_BG02
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(40)
		.group
			&.is-title
				display flex
				flex-direction column
				gap vwpc(10)
			&.is-contents
				display flex
				flex-direction column
				gap vwpc(40)
				.block
					&.is-contents
						display flex
						flex-direction column
						padding-top vwpc(20)
						.area
							&.is-news
								width 100%
								border-bottom 1px solid #ccc
								.box
									&.is-inner
										display flex
										align-items center
										gap vwpc(12)
										padding vwpc(13) vwpc(10) vwpc(13) 0
										&:hover
											.item
												&.is-date
													.date
														color SITE_COLOR01
												&.is-category
													.category
														color SITE_COLOR01
														border-color SITE_COLOR01
												&.is-title
													.title
														color SITE_COLOR01
										.item
											&.is-date
												.date
													color #666
													fontPc(12)
													line-height 1.7
													transition color .3s
											&.is-category
												.category
													padding vwpc(2) vwpc(7)
													color #666
													fontPc(10)
													line-height 1.7
													font-weight 700
													border 1px solid #999
													transition color .3s, border-color .3s
											&.is-title
												.title
													color #444
													fontPc(13)
													line-height 1.6
													transition color .3s
					&.is-btn
						display flex
						justify-content center

.c-topFaqSet01
	padding vwpc(80) 0
	overflow hidden
	box-sizing border-box
	&>.l-contentsWidth
		&>.componentWrapper
			display flex
			flex-direction column
			gap vwpc(40)
			&>.group
				&.is-title
					display flex
					flex-direction column
					gap vwpc(10)
				&.is-contents
					display flex
					flex-direction column
					gap vwpc(40)
					&>.block
						&.is-contents
							display flex
							flex-direction column
							gap vwpc(14)
							&>.area
								&.is-tabParent
									display flex
									gap vwpc(20)
									&>.box
										&.is-tabItem
											display flex
											align-items center
											justify-content center
											position relative
											padding vwpc(6) vwpc(10)
											cursor pointer
											&.is-active
												span
													color SITE_COLOR01
												&:after
													opacity 1
											&:hover
												span
													color SITE_COLOR01
												&:after
													opacity 1
											&:after
												content ''
												display inline-block
												position absolute
												bottom 0
												left 0
												width 100%
												height vwpc(2)
												background-color SITE_COLOR01
												opacity 0
												pointer-events none
												transition opacity .3s
											span
												color #666
												fontPc(20)
												font-weight 700
												line-height 1.5
								&.is-tabChild
									display none
									flex-direction column
									gap vwpc(14)
									&.is-active
										display flex
						&.is-btn
							display flex
							justify-content center




.c-qaSet01
	&>.componentWrapper
		.group
			&.is-question
				display flex
				align-items center
				gap vwpc(10)
				position relative
				padding vwpc(20) vwpc(60) vwpc(20) vwpc(20)
				background-color #F5FBFF
				cursor pointer
				&:before, &:after
					content ''
					display inline-block
					position absolute
					top 0
					right vwpc(20)
					bottom 0
					margin auto 0
					width vwpc(20)
					height vwpc(3)
					background-color SITE_COLOR01
					transform-origin center
					transform rotate(0deg)
					transition transform .3s
				&:after
					transform rotate(-90deg)

				.block
					&.is-question
						.text
							color SITE_COLOR01
							fontPc(24)
							font-family DF_FONT_EN
							font-weight 700
							line-height 1.5
							letter-spacing 0.04em
					&.is-title
						.title
							fontPc(20)
							font-weight 700
							line-height 1.5
							letter-spacing 0.04em
			&.is-answer
				display none
				align-items center
				gap vwpc(10)
				padding vwpc(20)
				background-color #fff
				.block
					&.is-answer
						.text
							color SITE_COLOR01
							fontPc(24)
							font-family DF_FONT_EN
							font-weight 700
							line-height 1.5
							letter-spacing 0.04em
					&.is-text
						.text
							fontPc(16)
							line-height 1.5
							letter-spacing 0.04em
	&.is-active
		&>.componentWrapper
			.group.is-question
				&:after
					transform rotate(0deg)


.c-topLinkSet02
	padding vwpc(80) 0
	background-color SITE_BG03
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(40)
		.group
			&.is-list
				display grid
				grid-template-columns repeat(3, 1fr)
				gap vwpc(23) vwpc(14)
				max-width vwpc(1090)
				width 100%
				margin 0 auto
				.block
					&.is-item
						border-radius vwpc(8)
						overflow hidden
						box-shadow 0 0 vwpc(20) rgba(172, 197, 215, 0.3)
						.area
							&.is-inner
								display flex
								&:hover
									.box
										&.is-title
											background-color SITE_COLOR01
											.title
												color #fff
								.box
									&.is-image
										width vwpc(140)
										flex-shrink 0
										img
											width 100%
											height auto
											vertical-align bottom
									&.is-title
										display flex
										align-items center
										flex 1
										padding vwpc(20) vwpc(10) vwpc(22) vwpc(14)
										background-color #fff
										box-sizing border-box
										transition background-color .3s
										.title
											color DF_TEXT_COLOR
											fontPc(16)
											font-weight 700
											line-height 1.8
											transition color .3s



.c-footer01
	padding vwpc(48) 0 vwpc(28)
	background-color SITE_BG04
	overflow hidden
	box-sizing border-box
	.componentWrapper
		display flex
		flex-direction column
		gap vwpc(24)
		.group
			&.is-contents
				display flex
				gap vwpc(30)
				.block
					&.is-company
						display flex
						flex-direction column
						gap vwpc(16)
						flex-shrink 0
						.area
							&.is-title
								.title
									color #fff
									fontPc(14)
									font-weight 700
									line-height 1.7
							&.is-copy
								.copy
									color #fff
									fontPc(15)
									font-family DF_FONT_MIN
									font-weight 500
									line-height 1.5
							&.is-text
								.text
									color #fff
									fontPc(11)
									line-height 1.5
							&.is-sns
								display flex
								gap vwpc(10)
								padding-top vwpc(5)
								.sns
									width vwpc(32)
									a
										display block
										width 100%
										transition opacity .3s
										&:hover
											opacity 0.7
										img
											width 100%
											height auto
											vertical-align bottom

					&.is-nav
						display grid
						grid-template-columns repeat(4, 1fr)
						gap vwpc(20)
						flex 1
						.area
							&.is-section
								display flex
								flex-direction column
								gap vwpc(12)
								.box
									&.is-title
										padding-bottom vwpc(10)
										border-bottom vwpc(1) solid #fff
										box-sizing border-box
										.title
											color #fff
											fontPc(16)
											font-weight 700
											line-height 1.3
											letter-spacing 0.048em
									&.is-list
										display flex
										flex-direction column
										.item
											&.is-link
												a
													display block
													padding vwpc(3) 0
													color #fff
													fontPc(12)
													line-height 1.7
													transition color .3s
													&:hover
														color SITE_COLOR01

			&.is-copy
				display flex
				justify-content space-between
				gap vwpc(20)
				.block
					&.is-nav
						display flex
						align-items center
						gap vwpc(18)
						.area
							&.is-link
								a
									color #666
									fontPc(11)
									line-height 1.7
									transition color .3s
									&:hover
										color SITE_COLOR01
					&.is-copy
						.copy
							color #666
							fontPc(11)
							line-height 1.7



