html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
ol li,
ul li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  vertical-align: bottom;
  border: none;
}
button,
input,
select,
textarea {
  vertical-align: middle;
}
input {
  outline: 0;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  font-family: sans-serif;
}
/* ベース
---------------------------------- */
html {
  height: 100%;
  font-size: 62.5%;
  scroll-padding-top: var(--header-height, 70px);
}
[id] {
  scroll-margin-top: var(--header-height, 70px);
}
body {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 768px) {
  body {
    min-width: 0px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
body input[type="text"],
body input[type="button"],
body button,
body textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}
body input[type="text"],
body select,
body textarea {
  width: 100%;
}
body input[type="radio"],
body input[type="checkbox"] {
  margin: 0;
}
body input,
body select,
body textarea,
body button {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 768px) {
  body input,
  body select,
  body textarea,
  body button {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
body ::selection {
  background-color: #007ed7;
  color: #fff;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    min-width: 0;
  }
}
a {
  color: inherit;
  text-decoration: none !important;
}
a:link,
a:visited {
  color: #005bac;
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .is-pcOnly {
    display: none;
  }
}
.is-spOnly {
  display: none;
}
@media screen and (max-width: 768px) {
  .is-spOnly {
    display: block;
  }
}
.l-contentsBody {
  width: 100%;
  padding-top: var(--header-height, 70px);
}
.l-contentsWidth {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 3.90625vw;
  box-sizing: border-box;
  width: 100%;
}
.l-contentsWidth.is-narrow {
  max-width: 1000px;
}
.l-mqWrapper {
  padding: 0 1.5625vw;
  box-sizing: border-box;
}
.l-globalHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#l-contentsTop {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
.m-subTitle01 {
  display: flex;
  align-items: center;
  gap: 1.015625vw;
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.m-subTitle01:before {
  content: '';
  display: inline-block;
  width: 4.6875vw;
  height: 0.234375vw;
  background-color: #007ed7;
}
.m-subTitle01 span {
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.04em;
}
.m-subTitle01.is-white {
  color: #fff;
}
.m-subTitle01.is-white:before {
  background-color: #fff;
}
.m-sectionTitle01 span {
  font-size: 28px;
  font-size: 2.1875vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.m-sectionTitle01.is-white span {
  color: #fff;
}
.m-btn01.is-white .moduleWrapper {
  background-color: #fff;
  border-color: #fff;
}
.m-btn01.is-white .moduleWrapper span {
  color: #007ed7;
}
.m-btn01.is-white .moduleWrapper:after {
  background-image: url("../images/common/common_arrow01_blue.png");
}
.m-btn01.is-white .moduleWrapper:hover {
  background-color: #007ed7;
  color: #fff;
}
.m-btn01.is-white .moduleWrapper:hover span {
  color: #fff;
}
.m-btn01.is-white .moduleWrapper:hover:after {
  background-image: url("../images/common/common_arrow01_white.png");
}
.m-btn01 .moduleWrapper {
  display: block;
  position: relative;
  padding: 1.09375vw 3.4375vw 1.09375vw 1.09375vw;
  min-width: 12.5vw;
  width: 100%;
  background-color: #007ed7;
  border: 0.078125vw solid #007ed7;
  box-sizing: border-box;
  border-radius: 0.625vw;
  transition: background-color 0.3s, color 0.3s;
}
.m-btn01 .moduleWrapper:hover {
  background-color: #fff;
  color: #007ed7;
}
.m-btn01 .moduleWrapper:hover span {
  color: #007ed7;
}
.m-btn01 .moduleWrapper:hover:after {
  background-image: url("../images/common/common_arrow01_blue.png");
}
.m-btn01 .moduleWrapper:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1.5625vw;
  bottom: 0;
  margin: auto 0;
  width: 1.09375vw;
  height: 0.9375vw;
  background-image: url("../images/common/common_arrow01_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}
.m-btn01 .moduleWrapper span {
  color: #fff;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}
.m-btn02 .moduleWrapper {
  display: flex;
  align-items: center;
  gap: 1.5625vw;
  position: relative;
  padding: 1.09375vw 1.5625vw;
  min-width: 12.5vw;
  width: 100%;
  background-color: #fff;
  border: 0.078125vw solid #333;
  box-sizing: border-box;
  border-radius: 0.625vw;
  transition: background-color 0.3s, color 0.3s;
}
.m-btn02 .moduleWrapper:hover {
  background-color: #333;
}
.m-btn02 .moduleWrapper:hover:after {
  background-image: url("../images/common/common_arrow01_white.png");
}
.m-btn02 .moduleWrapper:hover span {
  color: #fff;
}
.m-btn02 .moduleWrapper:after {
  content: '';
  display: inline-block;
  width: 1.09375vw;
  height: 0.9375vw;
  background-image: url("../images/common/common_arrow01_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}
.m-btn02 .moduleWrapper span {
  color: #333;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}
.m-contactBtn01.is-white .moduleWrapper {
  background-color: #fff;
}
.m-contactBtn01.is-white .moduleWrapper:after {
  background-image: url("../images/common/common_arrow01_blue.png");
}
.m-contactBtn01.is-white .moduleWrapper .moduleInner span {
  color: #007ed7;
}
.m-contactBtn01.is-white .moduleWrapper:hover {
  background-color: #007ed7;
  color: #fff;
}
.m-contactBtn01.is-white .moduleWrapper:hover:after {
  background-image: url("../images/common/common_arrow01_white.png");
}
.m-contactBtn01.is-white .moduleWrapper:hover .moduleInner span {
  color: #fff;
}
.m-contactBtn01 .moduleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 3.125vw;
  padding: 0.78125vw 3.59375vw 0.78125vw 1.25vw;
  border-radius: 7.8125vw;
  background-color: #007ed7;
  text-decoration: none;
  border: 0.078125vw solid #007ed7;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}
.m-contactBtn01 .moduleWrapper:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1.25vw;
  bottom: 0;
  margin: auto 0;
  width: 1.09375vw;
  height: 0.9375vw;
  background-image: url("../images/common/common_arrow01_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}
.m-contactBtn01 .moduleWrapper:hover {
  background-color: #fff;
}
.m-contactBtn01 .moduleWrapper:hover .moduleInner span {
  color: #007ed7;
}
.m-contactBtn01 .moduleWrapper:hover:after {
  background-image: url("../images/common/common_arrow01_blue.png");
}
.m-contactBtn01 .moduleWrapper .moduleInner {
  display: inline-block;
}
.m-contactBtn01 .moduleWrapper .moduleInner span {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-header01 {
  background-color: #fff;
}
.c-header01 .group.is-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5625vw;
  margin: 0 auto;
  padding: 0 1.5625vw;
  box-sizing: border-box;
}
.c-header01 .block.is-logo {
  flex-shrink: 0;
}
.c-header01 .block.is-logo .logo {
  width: 20.3125vw;
}
.c-header01 .block.is-logo .logo .link {
  display: block;
  transition: opacity 0.3s;
}
.c-header01 .block.is-logo .logo .link:hover {
  opacity: 0.7;
}
.c-header01 .block.is-logo .logo .img {
  display: block;
  width: 100%;
  height: auto;
}
.c-header01 .block.is-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.c-header01 .block.is-nav .area.is-nav {
  position: relative;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav {
  display: flex;
  align-items: stretch;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link {
  position: relative;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link > .label,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link > .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.46875vw;
  padding: 0 1.5625vw;
  color: #333;
  font-size: 12px;
  font-size: 0.9375vw;
  font-weight: bold;
  white-space: nowrap;
  transition: background-color 0.2s, color 0.2s;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link > .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link > .link:visited {
  color: #333;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link:hover,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-current,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-open {
  background-color: #007ed7;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link:hover > .label,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-current > .label,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-open > .label,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link:hover > .link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-current > .link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-open > .link {
  color: #fff;
}
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link:hover > .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-current > .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-open > .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link:hover > .link:visited,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-current > .link:visited,
.c-header01 .block.is-nav .area.is-nav .box.is-nav > .item.is-link.is-open > .link:visited {
  color: #fff;
  text-decoration: none;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: var(--header-height, 70px);
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 0.078125vw solid #d9d9d9;
  box-sizing: border-box;
  transition: opacity 0.2s, visibility 0.2s;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .l-contentsWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125vw;
  padding: 0.78125vw 3.90625vw;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head {
  display: flex;
  align-items: center;
  min-width: 6.875vw;
  height: 4.6875vw;
  border-right: 0.078125vw solid #007ed7;
  box-sizing: border-box;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head .title {
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 1;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head .title .link {
  color: #007ed7;
  text-decoration: none;
  transition: opacity 0.3s;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head .title .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head .title .link:visited {
  color: #007ed7;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-head .title .link:hover {
  opacity: 0.7;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-body .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.125vw;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-body .list .link {
  display: inline-block;
  color: #333;
  font-size: 12px;
  font-size: 0.9375vw;
  font-weight: bold;
  line-height: 2;
  transition: color 0.2s;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-body .list .link:link,
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-body .list .link:visited {
  color: #333;
}
.c-header01 .block.is-nav .area.is-nav .box.is-mega .item.is-body .list .link:hover {
  color: #007ed7;
}
.c-header01 .block.is-contact {
  flex-shrink: 0;
}
.c-header01 .block.is-contact .box.is-contact {
  display: flex;
  align-items: center;
  gap: 0.625vw;
}
.c-topMainvisualSet01 {
  box-sizing: border-box;
  overflow: hidden;
}
.c-topMainvisualSet01 .componentWrapper {
  position: relative;
}
.c-topMainvisualSet01 .componentWrapper .group.is-image .image img {
  width: 100%;
  height: auto;
}
.c-topMainvisualSet01 .componentWrapper .group.is-contents {
  display: flex;
  flex-direction: column;
  gap: 0.546875vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.c-topMainvisualSet01 .componentWrapper .group.is-contents .block.is-title .title {
  color: #fff;
  font-size: 64px;
  font-size: 5vw;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 0 0 1.5625vw rgba(43,43,43,0.28);
}
.c-topMainvisualSet01 .componentWrapper .group.is-contents .block.is-text .text {
  color: #fff;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.8;
  text-shadow: 0 0 1.5625vw rgba(43,43,43,0.28);
}
.c-topMainvisualSet01 .componentWrapper .group.is-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5625vw;
  max-width: 21.875vw;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 4.6875vw;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link {
  max-width: 18.75vw;
  width: 100%;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type01 {
  max-width: 21.875vw;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type01 .area.is-inner {
  border-color: #007ed7;
  background-color: #007ed7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type01 .area.is-inner:hover span {
  color: #007ed7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type02 .area.is-inner {
  border-color: #00b3d7;
  background-color: #00b3d7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type02 .area.is-inner:hover span {
  color: #00b3d7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type03 .area.is-inner {
  border-color: #0044d7;
  background-color: #0044d7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link.is-type03 .area.is-inner:hover span {
  color: #0044d7;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link .area.is-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.234375vw;
  padding: 1.09375vw 1.5625vw;
  width: 100%;
  border-style: solid;
  border-width: 0.078125vw 0 0.078125vw 0.078125vw;
  box-sizing: border-box;
  border-radius: 7.8125vw 0 0 7.8125vw;
  transition: background-color 0.3s;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link .area.is-inner:hover {
  background-color: #fff !important;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link .area.is-inner span {
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link .area.is-inner span.large {
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: 600;
}
.c-topMainvisualSet01 .componentWrapper .group.is-link .block.is-link .area.is-inner span.small {
  font-size: 12px;
  font-size: 0.9375vw;
  font-weight: 300;
}
.c-topBusinessSet01 {
  padding: 6.25vw 0;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topBusinessSet01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topBusinessSet01 .componentWrapper .group.is-title {
  display: flex;
  flex-direction: column;
  gap: 1.09375vw;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625vw;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  padding: 1.40625vw 0 2.421875vw;
  width: 100%;
  border: 0.15625vw solid;
  box-sizing: border-box;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-title .title {
  font-size: 24px;
  font-size: 1.875vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-text .text {
  font-size: 13px;
  font-size: 1.015625vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link {
  display: flex;
  flex-direction: column;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .box.is-link {
  width: 100%;
  border-bottom: 0.078125vw solid #eee;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .box.is-link .inner {
  display: block;
  position: relative;
  padding: 1.09375vw 3.125vw 1.09375vw 1.25vw;
  transition: opacity 0.3s;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .box.is-link .inner:hover {
  opacity: 0.7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .box.is-link .inner:after {
  content: '';
  display: inline-block;
  width: 1.25vw;
  height: 1.25vw;
  background-image: url("../images/common/common_arrow02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 1.25vw;
  bottom: 0;
  margin: auto 0;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .box.is-link .inner span {
  color: #333;
  font-size: 16px;
  font-size: 1.25vw;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn {
  max-width: 25vw;
  width: 100%;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5625vw;
  padding: 1.09375vw 1.5625vw;
  border: 0.078125vw solid;
  border-radius: 0.625vw;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn .inner span {
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn .inner span.large {
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 700;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn .inner span.small {
  font-size: 12px;
  font-size: 0.9375vw;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list .area.is-btn .btn .inner:hover {
  background-color: #fff !important;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type01 {
  border-color: #007ed7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type01 .area.is-title .title {
  color: #007ed7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type01 .area.is-btn .btn .inner {
  background-color: #007ed7;
  border-color: #007ed7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type01 .area.is-btn .btn .inner:hover span {
  color: #007ed7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type02 {
  border-color: #00b3d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type02 .area.is-title .title {
  color: #00b3d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type02 .area.is-btn .btn .inner {
  background-color: #00b3d7;
  border-color: #00b3d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type02 .area.is-btn .btn .inner:hover span {
  color: #00b3d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type03 {
  border-color: #0044d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type03 .area.is-title .title {
  color: #0044d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type03 .area.is-btn .btn .inner {
  background-color: #0044d7;
  border-color: #0044d7;
}
.c-topBusinessSet01 .componentWrapper .group.is-contents .block.is-list.is-type03 .area.is-btn .btn .inner:hover span {
  color: #0044d7;
}
.c-topVisionSet01 {
  padding: 6.25vw 0;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topVisionSet01 .componentWrapper {
  display: flex;
  gap: 2.34375vw;
}
.c-topVisionSet01 .componentWrapper .group.is-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
  width: 50.15625vw;
}
.c-topVisionSet01 .componentWrapper .group.is-contents .block.is-title {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topVisionSet01 .componentWrapper .group.is-contents .block.is-title .title span {
  color: #007ed7;
  font-size: 48px;
  font-size: 3.75vw;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-topVisionSet01 .componentWrapper .group.is-contents .block.is-text {
  display: flex;
  flex-direction: column;
  gap: 2.8125vw;
}
.c-topVisionSet01 .componentWrapper .group.is-contents .block.is-text .text {
  font-size: 20px;
  font-size: 1.5625vw;
  line-height: 1.8;
  letter-spacing: 0.04em;
}
.c-topVisionSet01 .componentWrapper .group.is-contents .block.is-btn {
  display: flex;
}
.c-topVisionSet01 .componentWrapper .group.is-image {
  width: 38.90625vw;
  flex-shrink: 0;
}
.c-topVisionSet01 .componentWrapper .group.is-image .block.is-image {
  width: 100%;
}
.c-topVisionSet01 .componentWrapper .group.is-image .block.is-image .image {
  width: 100%;
}
.c-topVisionSet01 .componentWrapper .group.is-image .block.is-image .image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.c-topAchievementsSet01 {
  padding: 6.25vw 0;
  background-color: #007ed7;
  background-image: url("../images/contents/top/top_achievements_bg01.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topAchievementsSet01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-title {
  display: flex;
  flex-direction: column;
  gap: 0.78125vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3125vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5625vw;
  flex: 1;
  padding: 2.34375vw 1.5625vw;
  box-sizing: border-box;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-link .note {
  color: #fff;
  font-size: 11px;
  font-size: 0.859375vw;
  line-height: 1.5;
  text-align: center;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1.5625vw;
  padding: 2.34375vw 1.5625vw;
  background-color: #fff;
  box-sizing: border-box;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-icon {
  width: 100%;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-icon .icon {
  width: 100%;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-icon .icon img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-achievements {
  display: flex;
  justify-content: center;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-achievements .achievements {
  display: flex;
  align-items: flex-end;
  gap: 0.3125vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-achievements .achievements .number {
  color: #007ed7;
  font-size: 64px;
  font-size: 5vw;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 4.21875vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-achievements .achievements .unit {
  font-size: 22px;
  font-size: 1.71875vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0162em;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-text {
  display: flex;
  flex-direction: column;
  gap: 0.78125vw;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-text .title {
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
.c-topAchievementsSet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-text .text {
  font-size: 11px;
  font-size: 0.859375vw;
  line-height: 1.5;
}
.c-topCompanySet01 {
  padding: 6.25vw 0;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topCompanySet01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topCompanySet01 .componentWrapper .group.is-title {
  display: flex;
  flex-direction: column;
  gap: 1.09375vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3.125vw 1.5625vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625vw 0.78125vw;
  background-color: #fff;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-contents {
  display: flex;
  flex-direction: column;
  gap: 0.703125vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-contents .item.is-title .title {
  display: flex;
  flex-direction: column;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-contents .item.is-title .title span.large {
  color: #007ed7;
  font-size: 40px;
  font-size: 3.125vw;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-contents .item.is-title .title span.middle {
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents .box.is-contents .item.is-text .text {
  font-size: 14px;
  font-size: 1.09375vw;
  line-height: 1.6;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large {
  grid-column: 1/-1;
  align-items: flex-start;
  padding: 1.5625vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents {
  width: 41.640625vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-title .title {
  flex-direction: row;
  align-items: center;
  gap: 0.78125vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-title .title span {
  font-weight: 700;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-title .title span.large {
  font-size: 64px;
  font-size: 5vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-title .title span.middle {
  color: #007ed7;
  font-size: 32px;
  font-size: 2.5vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-title .title span.small {
  font-size: 15px;
  font-size: 1.171875vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-contents .item.is-text .text {
  font-size: 15px;
  font-size: 1.171875vw;
  line-height: 1.8;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-image {
  width: 40.78125vw;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-image .image {
  width: 100%;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-list .area.is-contents.is-large .box.is-image .image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.c-topCompanySet01 .componentWrapper .group.is-contents .block.is-btn {
  display: flex;
  justify-content: center;
}
.c-topLinkSet01 {
  padding: 3.125vw 0;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topLinkSet01 .componentWrapper .group.is-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625vw;
}
.c-topLinkSet01 .componentWrapper .group.is-contents .block.is-btn .m-btn02 {
  width: 100%;
}
.c-topNetworkSet01 {
  padding: 6.25vw 0;
  background-image: url("../images/contents/top/top_network_bg01.png");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topNetworkSet01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.90625vw;
}
.c-topNetworkSet01 .componentWrapper .group.is-title {
  display: flex;
  flex-direction: column;
  gap: 1.09375vw;
}
.c-topNetworkSet01 .componentWrapper .group.is-title .text {
  padding-top: 1.171875vw;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents {
  display: flex;
  align-items: flex-start;
  gap: 2.34375vw;
  padding: 3.125vw 1.5625vw;
  box-sizing: border-box;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents {
  display: flex;
  flex-direction: column;
  gap: 2.34375vw;
  padding: 1.5625vw 0.9375vw 1.5625vw 0vw;
  border-right: 2px solid #007ed7;
  box-sizing: border-box;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-title .title {
  display: flex;
  flex-direction: column;
  gap: 1.5625vw;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-title .title span {
  font-weight: 700;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-title .title span.small {
  font-size: 20px;
  font-size: 1.5625vw;
  line-height: 1.5;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-title .title span.small.blue {
  color: #007ed7;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-title .title span.large {
  color: #007ed7;
  font-size: 128px;
  font-size: 10vw;
  line-height: 0.8;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.04em;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-text .text {
  font-size: 15px;
  font-size: 1.171875vw;
  line-height: 1.8;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-image {
  width: 66.5625vw;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-image .image {
  width: 100%;
}
.c-topNetworkSet01 .componentWrapper .group.is-contents .block.is-image .image img {
  width: 100%;
}
.c-topNewsSet01 {
  padding: 6.25vw 0;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topNewsSet01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topNewsSet01 .componentWrapper .group.is-title {
  display: flex;
  flex-direction: column;
  gap: 0.78125vw;
}
.c-topNewsSet01 .componentWrapper .group.is-contents {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents {
  display: flex;
  flex-direction: column;
  padding-top: 1.5625vw;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner {
  display: flex;
  align-items: center;
  gap: 0.9375vw;
  padding: 1.015625vw 0.78125vw 1.015625vw 0;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner:hover .item.is-date .date {
  color: #007ed7;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner:hover .item.is-category .category {
  color: #007ed7;
  border-color: #007ed7;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner:hover .item.is-title .title {
  color: #007ed7;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner .item.is-date .date {
  color: #666;
  font-size: 12px;
  font-size: 0.9375vw;
  line-height: 1.7;
  transition: color 0.3s;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner .item.is-category .category {
  padding: 0.15625vw 0.546875vw;
  color: #666;
  font-size: 10px;
  font-size: 0.78125vw;
  line-height: 1.7;
  font-weight: 700;
  border: 1px solid #999;
  transition: color 0.3s, border-color 0.3s;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-contents .area.is-news .box.is-inner .item.is-title .title {
  color: #444;
  font-size: 13px;
  font-size: 1.015625vw;
  line-height: 1.6;
  transition: color 0.3s;
}
.c-topNewsSet01 .componentWrapper .group.is-contents .block.is-btn {
  display: flex;
  justify-content: center;
}
.c-topFaqSet01 {
  padding: 6.25vw 0;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-title {
  display: flex;
  flex-direction: column;
  gap: 0.78125vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents {
  display: flex;
  flex-direction: column;
  gap: 1.09375vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent {
  display: flex;
  gap: 1.5625vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.46875vw 0.78125vw;
  cursor: pointer;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem.is-active span {
  color: #007ed7;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem.is-active:after {
  opacity: 1;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem:hover span {
  color: #007ed7;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem:hover:after {
  opacity: 1;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15625vw;
  background-color: #007ed7;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabParent>.box.is-tabItem span {
  color: #666;
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: 700;
  line-height: 1.5;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabChild {
  display: none;
  flex-direction: column;
  gap: 1.09375vw;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-contents>.area.is-tabChild.is-active {
  display: flex;
}
.c-topFaqSet01>.l-contentsWidth>.componentWrapper>.group.is-contents>.block.is-btn {
  display: flex;
  justify-content: center;
}
.c-qaSet01>.componentWrapper .group.is-question {
  display: flex;
  align-items: center;
  gap: 0.78125vw;
  position: relative;
  padding: 1.5625vw 4.6875vw 1.5625vw 1.5625vw;
  background-color: #f5fbff;
  cursor: pointer;
}
.c-qaSet01>.componentWrapper .group.is-question:before,
.c-qaSet01>.componentWrapper .group.is-question:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1.5625vw;
  bottom: 0;
  margin: auto 0;
  width: 1.5625vw;
  height: 0.234375vw;
  background-color: #007ed7;
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.c-qaSet01>.componentWrapper .group.is-question:after {
  transform: rotate(-90deg);
}
.c-qaSet01>.componentWrapper .group.is-question .block.is-question .text {
  color: #007ed7;
  font-size: 24px;
  font-size: 1.875vw;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-qaSet01>.componentWrapper .group.is-question .block.is-title .title {
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-qaSet01>.componentWrapper .group.is-answer {
  display: none;
  align-items: center;
  gap: 0.78125vw;
  padding: 1.5625vw;
  background-color: #fff;
}
.c-qaSet01>.componentWrapper .group.is-answer .block.is-answer .text {
  color: #007ed7;
  font-size: 24px;
  font-size: 1.875vw;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-qaSet01>.componentWrapper .group.is-answer .block.is-text .text {
  font-size: 16px;
  font-size: 1.25vw;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.c-qaSet01.is-active>.componentWrapper .group.is-question:after {
  transform: rotate(0deg);
}
.c-topLinkSet02 {
  padding: 6.25vw 0;
  background-color: #f5fbff;
  overflow: hidden;
  box-sizing: border-box;
}
.c-topLinkSet02 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
}
.c-topLinkSet02 .componentWrapper .group.is-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.796875vw 1.09375vw;
  max-width: 85.15625vw;
  width: 100%;
  margin: 0 auto;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item {
  border-radius: 0.625vw;
  overflow: hidden;
  box-shadow: 0 0 1.5625vw rgba(172,197,215,0.3);
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner {
  display: flex;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner:hover .box.is-title {
  background-color: #007ed7;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner:hover .box.is-title .title {
  color: #fff;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner .box.is-image {
  width: 10.9375vw;
  flex-shrink: 0;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner .box.is-image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner .box.is-title {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1.5625vw 0.78125vw 1.71875vw 1.09375vw;
  background-color: #fff;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
.c-topLinkSet02 .componentWrapper .group.is-list .block.is-item .area.is-inner .box.is-title .title {
  color: #333;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.8;
  transition: color 0.3s;
}
.c-footer01 {
  padding: 3.75vw 0 2.1875vw;
  background-color: #333;
  overflow: hidden;
  box-sizing: border-box;
}
.c-footer01 .componentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875vw;
}
.c-footer01 .componentWrapper .group.is-contents {
  display: flex;
  gap: 2.34375vw;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  flex-shrink: 0;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-title .title {
  color: #fff;
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: 700;
  line-height: 1.7;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-copy .copy {
  color: #fff;
  font-size: 15px;
  font-size: 1.171875vw;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
  line-height: 1.5;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-text .text {
  color: #fff;
  font-size: 11px;
  font-size: 0.859375vw;
  line-height: 1.5;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-sns {
  display: flex;
  gap: 0.78125vw;
  padding-top: 0.390625vw;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-sns .sns {
  width: 2.5vw;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-sns .sns a {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-sns .sns a:hover {
  opacity: 0.7;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-company .area.is-sns .sns a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5625vw;
  flex: 1;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section {
  display: flex;
  flex-direction: column;
  gap: 0.9375vw;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section .box.is-title {
  padding-bottom: 0.78125vw;
  border-bottom: 0.078125vw solid #fff;
  box-sizing: border-box;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section .box.is-title .title {
  color: #fff;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.048em;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section .box.is-list {
  display: flex;
  flex-direction: column;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section .box.is-list .item.is-link a {
  padding: 0.234375vw;
  color: #fff;
  font-size: 12px;
  font-size: 0.9375vw;
  line-height: 1.7;
  transition: color 0.3s;
}
.c-footer01 .componentWrapper .group.is-contents .block.is-nav .area.is-section .box.is-list .item.is-link a:hover {
  color: #007ed7;
}
.c-footer01 .componentWrapper .group.is-copy {
  display: flex;
  justify-content: space-between;
  gap: 1.5625vw;
}
.c-footer01 .componentWrapper .group.is-copy .block.is-nav {
  display: flex;
  align-items: center;
  gap: 1.40625vw;
}
.c-footer01 .componentWrapper .group.is-copy .block.is-nav .area.is-link a {
  color: #666;
  font-size: 11px;
  font-size: 0.859375vw;
  line-height: 1.7;
  transition: color 0.3s;
}
.c-footer01 .componentWrapper .group.is-copy .block.is-nav .area.is-link a:hover {
  color: #007ed7;
}
.c-footer01 .componentWrapper .group.is-copy .block.is-copy .copy {
  color: #666;
  font-size: 11px;
  font-size: 0.859375vw;
  line-height: 1.7;
}
